*{
    padding: 0rem;
    margin: 0rem;
}
html{
    scroll-behavior: smooth;
}
body{
    background-image: url("images/background.jpg");
    font-family: 'Raleway', sans-serif;
    color: white;
}
.sections{
    font-size: 2.5rem;
    max-width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.head{
    font-size: 4.25rem;
    font-weight: bolder;
    color: yellow;
    margin-bottom: 2rem;
}
.sub-content{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.content{
    font-size: 2.25rem;

}
.subhead{
    margin-top: 1%;
    margin-bottom: 1%;
    font-weight: 600;
    color:aquamarine;
}
#navbar{
    display: flex;
    color: white;
    height: 7rem;
    width: 100%;
    max-width: 100%;
    align-items: center;
    margin: auto;
}
#navbar img{
    position: relative;
    width: 4rem;
    border-radius: 50%;
    margin-left: 30%;
}
#navbar ul{
    position: relative;
    list-style: none;
    display: flex;
    width: 10rem;
    max-width: 100%;
    margin-left: 2rem;
}
#navbar ul li{
    position: relative;
    font-size: 1.25rem;
    margin-left: 2%;
    margin-right: 2%;
}
.links{
    color: white;
    padding: 1rem;
    border-radius: 30px;
    text-decoration: none;
    transition: transform .5s;
}
.links:hover{
    color: black;
    background-color: white;
    text-decoration: underline;
    transform: scale(1.25);
}
#home-contents{
    display: flex;
    margin-top: 2rem;
    color: white;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    width: 60rem;
}
#name{
    color:orange;
    font-size: 8rem;
}
#dp{
    border-radius: 50%;
    margin-left: 2rem;
    height: auto;
    width: 15rem;
}
#resume{
    display: flex;
    font-size: 2.5rem;
    margin-top: 5rem;
    margin-left: 1rem;
    width: 60rem;
    justify-content: center;
}
#resume a{
    padding: 15px;
}
.skills-imagesandtext{
    display: inline-block;
    cursor: pointer;
    transition: transform .5s;
}
.skills-imagesandtext img{
    width: 5rem;
    height: 5rem;
    margin-right: 1.5rem;
    background-color: white;
    padding: 1rem;
    border-radius: 20%;
}
.skills-imagesandtext div{
    display: flex;
    position: relative;
    bottom: 5rem;
    font-size: 1.25rem;
    z-index: -1;
    font-weight: 1000;
}
.skills-imagesandtext img:hover{
    transform: scale(1.25);
    opacity: 0.1;
}
#platforms img{
    width: 5rem;
    height: 5rem;
    padding: 1rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: white;
    border-radius: 20%;
}
#certificates img{
    display: block;
    margin-bottom: 1.5rem;
    width: 30rem;
    height: auto;
}
#badges img{
    width: 10rem;
    height: auto
}
#contact-me img{
    width: 5rem;
    height: 5rem;
    padding: 1rem;
    margin-right: 1.5rem;
    background-color: white;
    border-radius: 20%;
}
#contact-me{
    display: flex;
}